# Git で管理するファイル/ディレクトリのリスト
!/site-lisp/
!/inits/
!/init.el
!ac-user-dict
!README.md

# Git で管理しないファイル/ディレクトリのリスト
/auto-save-list/
/backups/
/elpa/
/image-dired/
/org-gcal/
/request/
/undohist/
*.elc
/*.plist
/ac-comphist.dat
/.emacs*
/emacs*
/bookmarks
/elscreen
/history
/places
/recentf
